@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Pretendard', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
}

#root {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
